## Introdução

Este arquivo será utilizado para o pré-processamento dos dados presente no arquivo **Tabela_Taco_Atualizada.csv** para o modelo preditivo de classificação.

## Carregando o arquivo

In [2]:
import pandas as pd
import numpy as np

In [3]:
url = '/content/Tabela_Taco_Atualizada.csv'
df = pd.read_csv(url)
df

,Código do alimento,Descrição do alimento,Código da preparação,Descrição da preparação,Energia (kcal),Proteína (g),Lipídios totais (g),Carboidrato (g),Fibra alimentar total (g),Colesterol (mg),...,Riboflavina (mg),Niacina (mg),Niacina (NE) (mg),Piridoxina (mg),Cobalamina (mcg),Folato (DFE) (mcg),Vitamina D (mcg),Vitamina E (mg),Vitamina C (mg),Grupo Alimentar
0,6300101,"Arroz (polido, parboilizado, agulha, agulhinha...",99.0,Não se aplica,135.6229457071333,2.4961126633333333,1.200042,27.784863469999994,1.5457021999999998,-,...,-,-,-,-,-,-,-,0.0797818,-,1
1,6300201,Arroz integral,99.0,Não se aplica,130.9456437535,2.56288515,1.9657966666666666,25.55681445,2.722389866666667,-,...,-,-,-,0.079216,-,-,-,0.0797818,-,1
2,6300701,Milho (em grão),1.0,Cru(a),160.141,3.32,7.178,25.11,4.25,-,...,0.072,1.614,1.997,0.06,-,46,-,0.572,6.2,1
3,6300701,Milho (em grão),2.0,Cozido(a),160.141,3.32,7.178,25.11,4.25,-,...,0.072,1.614,1.997,0.06,-,46,-,0.572,6.2,1
4,6300701,Milho (em grão),3.0,Grelhado(a)/brasa/churrasco,160.141,3.32,7.178,25.11,4.25,-,...,0.072,1.614,1.997,0.06,-,46,-,0.572,6.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1966,8579003,Maria izabel,99.0,Não se aplica,154,10.8,7.1,11.6,1.5,36,...,-,-,-,0.07,-,-,-,-,-,19
1967,8579004,Arroz de leite,99.0,Não se aplica,142.422,2.98,4.174,22.622,0.303,2.744,...,0.068,1.183,1.93,0.077,0.121,35.38,0.274,0.297,0.006,19
1968,8579005,Arroz com mandioca,99.0,Não se aplica,130.31147285356667,1.5480563316666667,0.750021,28.942431735,1.5728510999999998,-,...,-,-,-,0.015,-,-,-,-,5.55,19
1969,8579006,Arroz com ovo,99.0,Não se aplica,179.10697285356667,8.085056331666667,9.427021,14.500931734999996,0.7728510999999999,230.435,...,0.279,0.035,1.4205,0.066,0.6035,23.913,0.6955,0.81,-,19
1970,8800109,Palma,99.0,Não se aplica,41.945,1.35,3.098,3.28,2,-,...,0.04,0.296,0.529,0.067,-,3,-,0.249,5.3,19

## Analisando os dados

Vamos verificar as informações deste dataframe e verificar o que precisa ser feito.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Código do alimento         1971 non-null   int64
 1   Descrição do alimento      1971 non-null   object
 2   Código da preparação       1971 non-null   float64
 3   Descrição da preparação    1971 non-null   object
 4   Energia (kcal)             1971 non-null   object
 5   Proteína (g)               1971 non-null   object
 6   Lipídios totais (g)        1971 non-null   object
 7   Carboidrato (g)            1971 non-null   object
 8   Fibra alimentar total (g)  1971 non-null   object
 9   Colesterol (mg)            1971 non-null   object
 10  AG Saturados (g)           1971 non-null   object
 11  AG Mono (g)                1971 non-null   object
 12  AG Poli (g)                1971 non-null   object
 13  AG Linoléico (g)           1971 non-null   object
 14  AG Linolênico (g)          1971 non-null   object
 15  AG Trans total(g)          1971 non-null   object
 16  Açúcar total (g)           1971 non-null   object
 17  Açúcar de adição (g)       1971 non-null   object
 18  Cálcio (mg)                1971 non-null   object
 19  Magnésio (mg)              1971 non-null   object
 20  Manganês (mg)              1971 non-null   object
 21  Fósforo (mg)               1971 non-null   object
 22  Ferro (mg)                 1971 non-null   object
 23  Sódio (mg)                 1971 non-null   object
 24  Sódio de adição (mg)       1971 non-null   object
 25  Potássio (mg)              1971 non-null   object
 26  Cobre (mg)                 1971 non-null   object
 27  Zinco (mg)                 1971 non-null   object
 28  Selênio (mcg)              1971 non-null   object
 29  Retinol (mcg)              1971 non-null   object
 30  Vitamina A (RAE) (mcg)     1971 non-null   object
 31  Tiamina (mg)               1971 non-null   object
 32  Riboflavina (mg)           1971 non-null   object
 33  Niacina (mg)               1971 non-null   object
 34  Niacina (NE) (mg)          1971 non-null   object
 35  Piridoxina (mg)            1971 non-null   object
 36  Cobalamina (mcg)           1971 non-null   object
 37  Folato (DFE) (mcg)         1971 non-null   object
 38  Vitamina D (mcg)           1971 non-null   object
 39  Vitamina E (mg)            1971 non-null   object
 40  Vitamina C (mg)            1971 non-null   object
 41  Grupo Alimentar            1971 non-null   int64
dtypes: float64(1), int64(2), object(39)
memory usage: 646.9+ KB

Não há ocorrencia de dados nulos em nenhuma coluna, assim podemos começar a nossa etapa de pré-processamento.

## Excluindo colunas desnecessárias para o modelo

Sabemos que colunas textuais só são relevantes caso eles sejam categóricas. Temos a sorte de as unicas colunas textuais em nosso dataframe serem colunas que já possuem as suas representações numericas, sendo elas **Descrição da Preparação** com **Código da Preparação** e **Descrição do Alimento** com **Código do Alimento**. Sendo assim podemos excluir estas colunas descritivas.

In [5]:
df.drop(['Descrição da preparação', 'Descrição do alimento'], axis='columns', inplace=True)

Também podemos excluir a coluna **Código do Alimento**. Ela é uma coluna unica e categorica, mas para um modelo de aprendizagem de máquina, esta coluna não irá representar dados estatisticos.

In [6]:
df.drop('Código do alimento', axis='columns', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Código da preparação       1971 non-null   float64
 1   Energia (kcal)             1971 non-null   object
 2   Proteína (g)               1971 non-null   object
 3   Lipídios totais (g)        1971 non-null   object
 4   Carboidrato (g)            1971 non-null   object
 5   Fibra alimentar total (g)  1971 non-null   object
 6   Colesterol (mg)            1971 non-null   object
 7   AG Saturados (g)           1971 non-null   object
 8   AG Mono (g)                1971 non-null   object
 9   AG Poli (g)                1971 non-null   object
 10  AG Linoléico (g)           1971 non-null   object
 11  AG Linolênico (g)          1971 non-null   object
 12  AG Trans total(g)          1971 non-null   object
 13  Açúcar total (g)           1971 non-null   object
 14  Açúcar de adição (g)       1971 non-null   object
 15  Cálcio (mg)                1971 non-null   object
 16  Magnésio (mg)              1971 non-null   object
 17  Manganês (mg)              1971 non-null   object
 18  Fósforo (mg)               1971 non-null   object
 19  Ferro (mg)                 1971 non-null   object
 20  Sódio (mg)                 1971 non-null   object
 21  Sódio de adição (mg)       1971 non-null   object
 22  Potássio (mg)              1971 non-null   object
 23  Cobre (mg)                 1971 non-null   object
 24  Zinco (mg)                 1971 non-null   object
 25  Selênio (mcg)              1971 non-null   object
 26  Retinol (mcg)              1971 non-null   object
 27  Vitamina A (RAE) (mcg)     1971 non-null   object
 28  Tiamina (mg)               1971 non-null   object
 29  Riboflavina (mg)           1971 non-null   object
 30  Niacina (mg)               1971 non-null   object
 31  Niacina (NE) (mg)          1971 non-null   object
 32  Piridoxina (mg)            1971 non-null   object
 33  Cobalamina (mcg)           1971 non-null   object
 34  Folato (DFE) (mcg)         1971 non-null   object
 35  Vitamina D (mcg)           1971 non-null   object
 36  Vitamina E (mg)            1971 non-null   object
 37  Vitamina C (mg)            1971 non-null   object
 38  Grupo Alimentar            1971 non-null   int64
dtypes: float64(1), int64(1), object(37)
memory usage: 600.7+ KB

Com a exclusão das colunas nós podemos verificar se existem inconformidades nas colunas númericas. Além disso podemos tratar a conversão das colunas de tipo **object** para **float64** ou **int64**

## Validando as colunas númericas Grupo Alimentar e Código de Preparação

Ambas as colunas são categoricas, semelhantes a enumeradores na programação ou hash-maps que possuem código e descrição (porém neste caso só importa o código). Já sabemos que elas são numéricas mas não sabemos os valores destas colunas. Vamos verificar

In [7]:
for col in ['Código da preparação', 'Grupo Alimentar']:
  print(f"Coluna: {col}")
  print(df[col].unique())
  print("-"*30)

Coluna: Código da preparação
[99.  1.  2.  3.  4.  7. 13. 14. 15.  5.  8.  9. 10. 11.  6. 12.]
------------------------------
Coluna: Grupo Alimentar
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
------------------------------

Podemos ver que não possue valores inconformes. Por comodidade, vou transformar a coluna **Código da Preparação** em um **int64**, pois não vejo sentido em mante-la como **float64**.

In [8]:
df['Código da preparação'] = df['Código da preparação'].astype('int64')
df['Código da preparação'].unique()

array([99,  1,  2,  3,  4,  7, 13, 14, 15,  5,  8,  9, 10, 11,  6, 12])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Código da preparação       1971 non-null   int64
 1   Energia (kcal)             1971 non-null   object
 2   Proteína (g)               1971 non-null   object
 3   Lipídios totais (g)        1971 non-null   object
 4   Carboidrato (g)            1971 non-null   object
 5   Fibra alimentar total (g)  1971 non-null   object
 6   Colesterol (mg)            1971 non-null   object
 7   AG Saturados (g)           1971 non-null   object
 8   AG Mono (g)                1971 non-null   object
 9   AG Poli (g)                1971 non-null   object
 10  AG Linoléico (g)           1971 non-null   object
 11  AG Linolênico (g)          1971 non-null   object
 12  AG Trans total(g)          1971 non-null   object
 13  Açúcar total (g)           1971 non-null   object
 14  Açúcar de adição (g)       1971 non-null   object
 15  Cálcio (mg)                1971 non-null   object
 16  Magnésio (mg)              1971 non-null   object
 17  Manganês (mg)              1971 non-null   object
 18  Fósforo (mg)               1971 non-null   object
 19  Ferro (mg)                 1971 non-null   object
 20  Sódio (mg)                 1971 non-null   object
 21  Sódio de adição (mg)       1971 non-null   object
 22  Potássio (mg)              1971 non-null   object
 23  Cobre (mg)                 1971 non-null   object
 24  Zinco (mg)                 1971 non-null   object
 25  Selênio (mcg)              1971 non-null   object
 26  Retinol (mcg)              1971 non-null   object
 27  Vitamina A (RAE) (mcg)     1971 non-null   object
 28  Tiamina (mg)               1971 non-null   object
 29  Riboflavina (mg)           1971 non-null   object
 30  Niacina (mg)               1971 non-null   object
 31  Niacina (NE) (mg)          1971 non-null   object
 32  Piridoxina (mg)            1971 non-null   object
 33  Cobalamina (mcg)           1971 non-null   object
 34  Folato (DFE) (mcg)         1971 non-null   object
 35  Vitamina D (mcg)           1971 non-null   object
 36  Vitamina E (mg)            1971 non-null   object
 37  Vitamina C (mg)            1971 non-null   object
 38  Grupo Alimentar            1971 non-null   int64
dtypes: int64(2), object(37)
memory usage: 600.7+ KB

## Validando as tabelas de tipo Object

Primeiro vamos capturar o nome de todas as colunas com excessão das duas numericas.

In [10]:
colunas_object = df.columns.delete([0, 38])
colunas_object

Index(['Energia (kcal)', 'Proteína (g)', 'Lipídios totais (g)',
       'Carboidrato (g)', 'Fibra alimentar total (g)', 'Colesterol (mg)',
       'AG Saturados (g)', 'AG Mono (g)', 'AG Poli (g)', 'AG Linoléico (g)',
       'AG Linolênico (g)', 'AG Trans total(g)', 'Açúcar total (g)',
       'Açúcar de adição (g)', 'Cálcio (mg)', 'Magnésio (mg)', 'Manganês (mg)',
       'Fósforo (mg)', 'Ferro (mg)', 'Sódio (mg)', 'Sódio de adição (mg)',
       'Potássio (mg)', 'Cobre (mg)', 'Zinco (mg)', 'Selênio (mcg)',
       'Retinol (mcg)', 'Vitamina A (RAE) (mcg)', 'Tiamina (mg)',
       'Riboflavina (mg)', 'Niacina (mg)', 'Niacina (NE) (mg)',
       'Piridoxina (mg)', 'Cobalamina (mcg)', 'Folato (DFE) (mcg)',
       'Vitamina D (mcg)', 'Vitamina E (mg)', 'Vitamina C (mg)'],
      dtype='object')

Agora vamos tentar converter todas as colunas. Caso não for possível converter alguma coluna nós devemos reserva-la numa variavel e analisar o seu caso com mais atenção.

Todas as colunas **Object** serão convertidas para o tipo **float64**

In [11]:
colunas_nao_convertidas = []
for col in colunas_object:
  try:
    df[col] = df[col].astype('float64')
  except:
    colunas_nao_convertidas.append(col)

colunas_nao_convertidas

['Energia (kcal)',
 'Proteína (g)',
 'Lipídios totais (g)',
 'Carboidrato (g)',
 'Fibra alimentar total (g)',
 'Colesterol (mg)',
 'AG Saturados (g)',
 'AG Mono (g)',
 'AG Poli (g)',
 'AG Linoléico (g)',
 'AG Linolênico (g)',
 'AG Trans total(g)',
 'Açúcar total (g)',
 'Açúcar de adição (g)',
 'Cálcio (mg)',
 'Magnésio (mg)',
 'Manganês (mg)',
 'Fósforo (mg)',
 'Ferro (mg)',
 'Sódio (mg)',
 'Sódio de adição (mg)',
 'Potássio (mg)',
 'Cobre (mg)',
 'Zinco (mg)',
 'Selênio (mcg)',
 'Retinol (mcg)',
 'Vitamina A (RAE) (mcg)',
 'Tiamina (mg)',
 'Riboflavina (mg)',
 'Niacina (mg)',
 'Niacina (NE) (mg)',
 'Piridoxina (mg)',
 'Cobalamina (mcg)',
 'Folato (DFE) (mcg)',
 'Vitamina D (mcg)',
 'Vitamina E (mg)',
 'Vitamina C (mg)']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Código da preparação       1971 non-null   int64
 1   Energia (kcal)             1971 non-null   object
 2   Proteína (g)               1971 non-null   object
 3   Lipídios totais (g)        1971 non-null   object
 4   Carboidrato (g)            1971 non-null   object
 5   Fibra alimentar total (g)  1971 non-null   object
 6   Colesterol (mg)            1971 non-null   object
 7   AG Saturados (g)           1971 non-null   object
 8   AG Mono (g)                1971 non-null   object
 9   AG Poli (g)                1971 non-null   object
 10  AG Linoléico (g)           1971 non-null   object
 11  AG Linolênico (g)          1971 non-null   object
 12  AG Trans total(g)          1971 non-null   object
 13  Açúcar total (g)           1971 non-null   object
 14  Açúcar de adição (g)       1971 non-null   object
 15  Cálcio (mg)                1971 non-null   object
 16  Magnésio (mg)              1971 non-null   object
 17  Manganês (mg)              1971 non-null   object
 18  Fósforo (mg)               1971 non-null   object
 19  Ferro (mg)                 1971 non-null   object
 20  Sódio (mg)                 1971 non-null   object
 21  Sódio de adição (mg)       1971 non-null   object
 22  Potássio (mg)              1971 non-null   object
 23  Cobre (mg)                 1971 non-null   object
 24  Zinco (mg)                 1971 non-null   object
 25  Selênio (mcg)              1971 non-null   object
 26  Retinol (mcg)              1971 non-null   object
 27  Vitamina A (RAE) (mcg)     1971 non-null   object
 28  Tiamina (mg)               1971 non-null   object
 29  Riboflavina (mg)           1971 non-null   object
 30  Niacina (mg)               1971 non-null   object
 31  Niacina (NE) (mg)          1971 non-null   object
 32  Piridoxina (mg)            1971 non-null   object
 33  Cobalamina (mcg)           1971 non-null   object
 34  Folato (DFE) (mcg)         1971 non-null   object
 35  Vitamina D (mcg)           1971 non-null   object
 36  Vitamina E (mg)            1971 non-null   object
 37  Vitamina C (mg)            1971 non-null   object
 38  Grupo Alimentar            1971 non-null   int64
dtypes: int64(2), object(37)
memory usage: 600.7+ KB

A sorte não esta do nosso lado XD

## Validando colunas isoladas: Energia (kcal)

Vamos ver o que esta rolando

In [13]:
try:
  df['Energia (kcal)'] = df['Energia (kcal)'].astype('float64')
except Exception as e:
  print('Tratamento de excessão: ' + str(e))

Tratamento de excessão: could not convert string to float: '-'

Existe o valor **'-'** na coluna **Energia (kcal)** que esta impossibilitando a conversão da coluna. Aparentemente este valor representa algo como *nulo* ou *vazio*. Neste caso podemos substituir este valor por **0 (zero)**.

In [14]:
df['Energia (kcal)'].replace('-', '0', inplace=True)

In [15]:
print('Ocorrencias de -:')
print(df['Energia (kcal)'].loc[df['Energia (kcal)'] == '-'])
print('-'*30)
print('Ocorrencias de 0:')
print(df['Energia (kcal)'].loc[df['Energia (kcal)'] == '0'])

Ocorrencias de -:
Series([], Name: Energia (kcal), dtype: object)
------------------------------
Ocorrencias de 0:
567     0
669     0
1717    0
1718    0
1719    0
1742    0
1743    0
1744    0
1745    0
Name: Energia (kcal), dtype: object

Agora que realizamos a substituição de valore nós podemos tentar, novamente, a transformação da coluna para **float64**

In [16]:
try:
  df['Energia (kcal)'] = df['Energia (kcal)'].astype('float64')
except Exception as e:
  print('Tratamento de excessão: ' + str(e))

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Código da preparação       1971 non-null   int64
 1   Energia (kcal)             1971 non-null   float64
 2   Proteína (g)               1971 non-null   object
 3   Lipídios totais (g)        1971 non-null   object
 4   Carboidrato (g)            1971 non-null   object
 5   Fibra alimentar total (g)  1971 non-null   object
 6   Colesterol (mg)            1971 non-null   object
 7   AG Saturados (g)           1971 non-null   object
 8   AG Mono (g)                1971 non-null   object
 9   AG Poli (g)                1971 non-null   object
 10  AG Linoléico (g)           1971 non-null   object
 11  AG Linolênico (g)          1971 non-null   object
 12  AG Trans total(g)          1971 non-null   object
 13  Açúcar total (g)           1971 non-null   object
 14  Açúcar de adição (g)       1971 non-null   object
 15  Cálcio (mg)                1971 non-null   object
 16  Magnésio (mg)              1971 non-null   object
 17  Manganês (mg)              1971 non-null   object
 18  Fósforo (mg)               1971 non-null   object
 19  Ferro (mg)                 1971 non-null   object
 20  Sódio (mg)                 1971 non-null   object
 21  Sódio de adição (mg)       1971 non-null   object
 22  Potássio (mg)              1971 non-null   object
 23  Cobre (mg)                 1971 non-null   object
 24  Zinco (mg)                 1971 non-null   object
 25  Selênio (mcg)              1971 non-null   object
 26  Retinol (mcg)              1971 non-null   object
 27  Vitamina A (RAE) (mcg)     1971 non-null   object
 28  Tiamina (mg)               1971 non-null   object
 29  Riboflavina (mg)           1971 non-null   object
 30  Niacina (mg)               1971 non-null   object
 31  Niacina (NE) (mg)          1971 non-null   object
 32  Piridoxina (mg)            1971 non-null   object
 33  Cobalamina (mcg)           1971 non-null   object
 34  Folato (DFE) (mcg)         1971 non-null   object
 35  Vitamina D (mcg)           1971 non-null   object
 36  Vitamina E (mg)            1971 non-null   object
 37  Vitamina C (mg)            1971 non-null   object
 38  Grupo Alimentar            1971 non-null   int64
dtypes: float64(1), int64(2), object(36)
memory usage: 600.7+ KB

Coluna tratada com sucesso. Com este exemplo bem sucedido, podemos aplicar a mesma formula para as demais colunas e ver no que vai dar.

## Validando as colunas de tipo Object com o desenvolvimento aplicado na coluna Energia (kcal)

Vamos utilizar o nosso vetor **colunas_object** para coletar o nomes das colunas que precisam ser tratadas. Porém, precisamos retirar a coluna **Energia (kcal)**, pois ela já foi tratada.

In [17]:
colunas_object = colunas_object.delete(0)
colunas_object

Index(['Proteína (g)', 'Lipídios totais (g)', 'Carboidrato (g)',
       'Fibra alimentar total (g)', 'Colesterol (mg)', 'AG Saturados (g)',
       'AG Mono (g)', 'AG Poli (g)', 'AG Linoléico (g)', 'AG Linolênico (g)',
       'AG Trans total(g)', 'Açúcar total (g)', 'Açúcar de adição (g)',
       'Cálcio (mg)', 'Magnésio (mg)', 'Manganês (mg)', 'Fósforo (mg)',
       'Ferro (mg)', 'Sódio (mg)', 'Sódio de adição (mg)', 'Potássio (mg)',
       'Cobre (mg)', 'Zinco (mg)', 'Selênio (mcg)', 'Retinol (mcg)',
       'Vitamina A (RAE) (mcg)', 'Tiamina (mg)', 'Riboflavina (mg)',
       'Niacina (mg)', 'Niacina (NE) (mg)', 'Piridoxina (mg)',
       'Cobalamina (mcg)', 'Folato (DFE) (mcg)', 'Vitamina D (mcg)',
       'Vitamina E (mg)', 'Vitamina C (mg)'],
      dtype='object')

Agora podemos aplicar o desenvolvimento. Vamos adicionar alguns tratamentos de excessões para podermos mapear os erros com mais segurança.

In [18]:
colunas_nao_convertidas = []
for col in colunas_object:
  try:
    df[col] = df[col].astype('float64')
    print('Coluna convertida com sucesso!!!')
  except Exception as e:
    colunas_nao_convertidas.append({col:str(e)})
    print('Tratamento de excessão: ' + str(e))

Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'
Tratamento de excessão: could not convert string to float: '-'

In [19]:
colunas_nao_alteradas = []
for col in colunas_object:
  try:
    df[col].replace('-', '0', inplace=True)
    print('Ocorrencias de -:')
    print(df[col].loc[df[col] == '-'])
    print('-'*30)
    print('Ocorrencias de 0:')
    print(df[col].loc[df[col] == '0'])
    print('\n\n')
  except Exception as e:
    colunas_nao_alteradas.append({col:str(e)})

Ocorrencias de -:
Series([], Name: Proteína (g), dtype: object)
------------------------------
Ocorrencias de 0:
458     0
527     0
529     0
530     0
533     0
       ..
1855    0
1856    0
1857    0
1858    0
1859    0
Name: Proteína (g), Length: 73, dtype: object



Ocorrencias de -:
Series([], Name: Lipídios totais (g), dtype: object)
------------------------------
Ocorrencias de 0:
167     0
172     0
174     0
486     0
489     0
       ..
1857    0
1858    0
1859    0
1895    0
1897    0
Name: Lipídios totais (g), Length: 87, dtype: object



Ocorrencias de -:
Series([], Name: Carboidrato (g), dtype: object)
------------------------------
Ocorrencias de 0:
567     0
669     0
693     0
694     0
695     0
       ..
1789    0
1797    0
1875    0
1876    0
1899    0
Name: Carboidrato (g), Length: 573, dtype: object



Ocorrencias de -:
Series([], Name: Fibra alimentar total (g), dtype: object)
------------------------------
Ocorrencias de 0:
167     0
172     0
210     0
213     0
237     0
       ..
1895    0
1897    0
1899    0
1916    0
1928    0
Name: Fibra alimentar total (g), Length: 858, dtype: object



Ocorrencias de -:
Series([], Name: Colesterol (mg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
2       0
3       0
4       0
       ..
1956    0
1958    0
1964    0
1968    0
1970    0
Name: Colesterol (mg), Length: 803, dtype: object



Ocorrencias de -:
Series([], Name: AG Saturados (g), dtype: object)
------------------------------
Ocorrencias de 0:
158     0
159     0
167     0
169     0
170     0
       ..
1783    0
1885    0
1886    0
1895    0
1897    0
Name: AG Saturados (g), Length: 157, dtype: object



Ocorrencias de -:
Series([], Name: AG Mono (g), dtype: object)
------------------------------
Ocorrencias de 0:
49      0
52      0
53      0
54      0
55      0
       ..
1880    0
1885    0
1886    0
1895    0
1897    0
Name: AG Mono (g), Length: 178, dtype: object



Ocorrencias de -:
Series([], Name: AG Poli (g), dtype: object)
------------------------------
Ocorrencias de 0:
158     0
159     0
163     0
164     0
165     0
       ..
1783    0
1885    0
1886    0
1895    0
1897    0
Name: AG Poli (g), Length: 175, dtype: object



Ocorrencias de -:
Series([], Name: AG Linoléico (g), dtype: object)
------------------------------
Ocorrencias de 0:
158     0
159     0
167     0
169     0
170     0
       ..
1885    0
1886    0
1895    0
1897    0
1908    0
Name: AG Linoléico (g), Length: 180, dtype: object



Ocorrencias de -:
Series([], Name: AG Linolênico (g), dtype: object)
------------------------------
Ocorrencias de 0:
49      0
52      0
53      0
54      0
55      0
       ..
1897    0
1908    0
1937    0
1939    0
1940    0
Name: AG Linolênico (g), Length: 262, dtype: object



Ocorrencias de -:
Series([], Name: AG Trans total(g), dtype: object)
------------------------------
Ocorrencias de 0:
10      0
12      0
14      0
15      0
16      0
       ..
1947    0
1948    0
1964    0
1965    0
1966    0
Name: AG Trans total(g), Length: 769, dtype: object



Ocorrencias de -:
Series([], Name: Açúcar total (g), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
32      0
33      0
69      0
       ..
1945    0
1946    0
1965    0
1966    0
1968    0
Name: Açúcar total (g), Length: 768, dtype: object



Ocorrencias de -:
Series([], Name: Açúcar de adição (g), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
2       0
3       0
4       0
       ..
1966    0
1967    0
1968    0
1969    0
1970    0
Name: Açúcar de adição (g), Length: 1520, dtype: object



Ocorrencias de -:
Series([], Name: Cálcio (mg), dtype: object)
------------------------------
Ocorrencias de 0:
229     0
237     0
238     0
501     0
507     0
516     0
533     0
567     0
609     0
623     0
637     0
638     0
639     0
667     0
668     0
669     0
1551    0
1718    0
1719    0
1736    0
1740    0
1742    0
1743    0
1762    0
1763    0
1765    0
1766    0
1767    0
1768    0
1772    0
1773    0
1775    0
1777    0
1780    0
1783    0
1785    0
1786    0
1788    0
1789    0
1885    0
1886    0
Name: Cálcio (mg), dtype: object



Ocorrencias de -:
Series([], Name: Magnésio (mg), dtype: object)
------------------------------
Ocorrencias de 0:
167     0
172     0
173     0
174     0
228     0
       ..
1786    0
1788    0
1789    0
1885    0
1886    0
Name: Magnésio (mg), Length: 96, dtype: object



Ocorrencias de -:
Series([], Name: Manganês (mg), dtype: object)
------------------------------
Ocorrencias de 0:
148     0
158     0
159     0
163     0
164     0
       ..
1788    0
1789    0
1885    0
1886    0
1908    0
Name: Manganês (mg), Length: 111, dtype: object



Ocorrencias de -:
Series([], Name: Fósforo (mg), dtype: object)
------------------------------
Ocorrencias de 0:
167     0
172     0
229     0
237     0
238     0
       ..
1788    0
1789    0
1839    0
1885    0
1886    0
Name: Fósforo (mg), Length: 72, dtype: object



Ocorrencias de -:
Series([], Name: Ferro (mg), dtype: object)
------------------------------
Ocorrencias de 0:
229     0
237     0
238     0
458     0
501     0
507     0
516     0
547     0
567     0
623     0
637     0
638     0
639     0
669     0
1426    0
1474    0
1551    0
1707    0
1708    0
1716    0
1718    0
1719    0
1720    0
1722    0
1723    0
1737    0
1742    0
1743    0
1762    0
1763    0
1773    0
1775    0
1777    0
1780    0
1783    0
1786    0
1789    0
1885    0
1886    0
Name: Ferro (mg), dtype: object



Ocorrencias de -:
Series([], Name: Sódio (mg), dtype: object)
------------------------------
Ocorrencias de 0:
6       0
7       0
225     0
228     0
229     0
232     0
233     0
234     0
235     0
237     0
238     0
241     0
243     0
324     0
448     0
449     0
457     0
473     0
479     0
483     0
485     0
487     0
488     0
496     0
500     0
501     0
505     0
506     0
507     0
510     0
511     0
512     0
515     0
516     0
520     0
527     0
608     0
613     0
622     0
623     0
637     0
638     0
639     0
667     0
668     0
1551    0
1785    0
1786    0
1788    0
1789    0
1885    0
1886    0
Name: Sódio (mg), dtype: object



Ocorrencias de -:
Series([], Name: Sódio de adição (mg), dtype: object)
------------------------------
Ocorrencias de 0:
13      0
16      0
22      0
31      0
47      0
       ..
1958    0
1965    0
1966    0
1967    0
1970    0
Name: Sódio de adição (mg), Length: 1021, dtype: object



Ocorrencias de -:
Series([], Name: Potássio (mg), dtype: object)
------------------------------
Ocorrencias de 0:
167     0
172     0
173     0
174     0
228     0
229     0
232     0
233     0
234     0
235     0
237     0
238     0
241     0
243     0
324     0
479     0
487     0
488     0
496     0
500     0
501     0
505     0
506     0
507     0
510     0
516     0
567     0
605     0
606     0
623     0
637     0
638     0
639     0
669     0
1551    0
1718    0
1719    0
1742    0
1743    0
1762    0
1763    0
1773    0
1775    0
1777    0
1780    0
1783    0
1785    0
1786    0
1788    0
1789    0
1885    0
1886    0
Name: Potássio (mg), dtype: object



Ocorrencias de -:
Series([], Name: Cobre (mg), dtype: object)
------------------------------
Ocorrencias de 0:
167     0
169     0
170     0
172     0
173     0
       ..
1885    0
1886    0
1888    0
1894    0
1945    0
Name: Cobre (mg), Length: 78, dtype: object



Ocorrencias de -:
Series([], Name: Zinco (mg), dtype: object)
------------------------------
Ocorrencias de 0:
167     0
169     0
170     0
172     0
173     0
       ..
1783    0
1784    0
1789    0
1885    0
1886    0
Name: Zinco (mg), Length: 69, dtype: object



Ocorrencias de -:
Series([], Name: Selênio (mcg), dtype: object)
------------------------------
Ocorrencias de 0:
69      0
70      0
71      0
78      0
79      0
       ..
1947    0
1958    0
1965    0
1966    0
1968    0
Name: Selênio (mcg), Length: 217, dtype: object



Ocorrencias de -:
Series([], Name: Retinol (mcg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
2       0
3       0
4       0
       ..
1964    0
1965    0
1966    0
1968    0
1970    0
Name: Retinol (mcg), Length: 1177, dtype: object



Ocorrencias de -:
Series([], Name: Vitamina A (RAE) (mcg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
16      0
22      0
23      0
       ..
1954    0
1956    0
1965    0
1966    0
1968    0
Name: Vitamina A (RAE) (mcg), Length: 706, dtype: object



Ocorrencias de -:
Series([], Name: Tiamina (mg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
32      0
167     0
172     0
182     0
       ..
1886    0
1890    0
1909    0
1929    0
1937    0
Name: Tiamina (mg), Length: 146, dtype: object



Ocorrencias de -:
Series([], Name: Riboflavina (mg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
32      0
33      0
69      0
       ..
1929    0
1945    0
1965    0
1966    0
1968    0
Name: Riboflavina (mg), Length: 128, dtype: object



Ocorrencias de -:
Series([], Name: Niacina (mg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
32      0
33      0
69      0
       ..
1929    0
1945    0
1965    0
1966    0
1968    0
Name: Niacina (mg), Length: 187, dtype: object



Ocorrencias de -:
Series([], Name: Niacina (NE) (mg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
32      0
33      0
69      0
       ..
1929    0
1945    0
1965    0
1966    0
1968    0
Name: Niacina (NE) (mg), Length: 240, dtype: object



Ocorrencias de -:
Series([], Name: Piridoxina (mg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
32      0
149     0
150     0
163     0
       ..
1880    0
1881    0
1885    0
1886    0
1909    0
Name: Piridoxina (mg), Length: 213, dtype: object



Ocorrencias de -:
Series([], Name: Cobalamina (mcg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
2       0
3       0
4       0
       ..
1964    0
1965    0
1966    0
1968    0
1970    0
Name: Cobalamina (mcg), Length: 831, dtype: object



Ocorrencias de -:
Series([], Name: Folato (DFE) (mcg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
32      0
33      0
69      0
       ..
1929    0
1945    0
1965    0
1966    0
1968    0
Name: Folato (DFE) (mcg), Length: 273, dtype: object



Ocorrencias de -:
Series([], Name: Vitamina D (mcg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
2       0
3       0
4       0
       ..
1964    0
1965    0
1966    0
1968    0
1970    0
Name: Vitamina D (mcg), Length: 962, dtype: object



Ocorrencias de -:
Series([], Name: Vitamina E (mg), dtype: object)
------------------------------
Ocorrencias de 0:
69      0
70      0
71      0
78      0
79      0
       ..
1929    0
1945    0
1965    0
1966    0
1968    0
Name: Vitamina E (mg), Length: 274, dtype: object



Ocorrencias de -:
Series([], Name: Vitamina C (mg), dtype: object)
------------------------------
Ocorrencias de 0:
0       0
1       0
9       0
10      0
11      0
       ..
1957    0
1959    0
1965    0
1966    0
1969    0
Name: Vitamina C (mg), Length: 939, dtype: object

In [20]:
print('Ocorrências de colunas não alteradas:')
if len(colunas_nao_alteradas) != 0:
  for obj in colunas_nao_alteradas:
    print(obj)
else:
  print('0 (zero)')

Ocorrências de colunas não alteradas:
0 (zero)

In [21]:
colunas_nao_convertidas = []
for col in colunas_object:
  try:
    df[col] = df[col].astype('float64')
    print('Coluna convertida com sucesso!!!')
  except Exception as e:
    colunas_nao_convertidas.append({col:str(e)})
    print('Tratamento de excessão: ' + str(e))

df.info()

Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Coluna convertida com sucesso!!!
Tratamento de excessão: could not convert string to float: '0,02'
Coluna convertida com sucesso!!!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Código da preparação       1971 non-null   int64
 1   Energia (kcal)             1971 non-null   float64
 2   Proteína (g)               1971 non-null   float64
 3   Lipídios totais (g)        1971 non-null   float64
 4   Carboidrato (g)            1971 non-null   float64
 5   Fibra alimentar total (g)  1971 non-null   float64
 6   Colesterol (mg)            1971 non-null   float64
 7   AG Saturados (g)           1971 non-null   float64
 8   AG Mono (g)                1971 non-null   float64
 9   AG Poli (g)                1971 non-null   float64
 10  AG Linoléico (g)           1971 non-null   float64
 11  AG Linolênico (g)          1971 non-null   float64
 12  AG Trans total(g)          1971 non-null   float64
 13  Açúcar total (g)           1971 non-null   float64
 14  Açúcar de adição (g)       1971 non-null   float64
 15  Cálcio (mg)                1971 non-null   float64
 16  Magnésio (mg)              1971 non-null   float64
 17  Manganês (mg)              1971 non-null   float64
 18  Fósforo (mg)               1971 non-null   float64
 19  Ferro (mg)                 1971 non-null   float64
 20  Sódio (mg)                 1971 non-null   float64
 21  Sódio de adição (mg)       1971 non-null   float64
 22  Potássio (mg)              1971 non-null   float64
 23  Cobre (mg)                 1971 non-null   float64
 24  Zinco (mg)                 1971 non-null   float64
 25  Selênio (mcg)              1971 non-null   float64
 26  Retinol (mcg)              1971 non-null   float64
 27  Vitamina A (RAE) (mcg)     1971 non-null   float64
 28  Tiamina (mg)               1971 non-null   float64
 29  Riboflavina (mg)           1971 non-null   float64
 30  Niacina (mg)               1971 non-null   float64
 31  Niacina (NE) (mg)          1971 non-null   float64
 32  Piridoxina (mg)            1971 non-null   float64
 33  Cobalamina (mcg)           1971 non-null   float64
 34  Folato (DFE) (mcg)         1971 non-null   float64
 35  Vitamina D (mcg)           1971 non-null   float64
 36  Vitamina E (mg)            1971 non-null   object
 37  Vitamina C (mg)            1971 non-null   float64
 38  Grupo Alimentar            1971 non-null   int64
dtypes: float64(36), int64(2), object(1)
memory usage: 600.7+ KB

Todas as colunas tiveram seu tipo alterado com excessão da coluna **Vitamina E (mg)**. Foi emitido uma excessão durante a tentativa de converte-la e esta excessão deve ser analisada.

## Validando colunas isoladas: Vitamina E (mg)

Analisando a excessão temos ``could not convert string to float: '0,02'``. Não é muito dificil entender o motivo do erro quando sabemos como funciona os tipos flutuantes em **Python**. Este tipo separa os números utilizando **"." (ponto)** e não "," **(virgula)**. Vamos desenvolver um código capaz de tratar este problema.

In [22]:
df['Vitamina E (mg)'] = df['Vitamina E (mg)'].str.replace(',','.')
try:
  df['Vitamina E (mg)'] = df['Vitamina E (mg)'].astype('float64')
  print('Coluna convertida com sucesso!!!')
except Exception as e:
  print('Tratamento de excessão: ' + str(e))

Coluna convertida com sucesso!!!

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1971 entries, 0 to 1970
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Código da preparação       1971 non-null   int64
 1   Energia (kcal)             1971 non-null   float64
 2   Proteína (g)               1971 non-null   float64
 3   Lipídios totais (g)        1971 non-null   float64
 4   Carboidrato (g)            1971 non-null   float64
 5   Fibra alimentar total (g)  1971 non-null   float64
 6   Colesterol (mg)            1971 non-null   float64
 7   AG Saturados (g)           1971 non-null   float64
 8   AG Mono (g)                1971 non-null   float64
 9   AG Poli (g)                1971 non-null   float64
 10  AG Linoléico (g)           1971 non-null   float64
 11  AG Linolênico (g)          1971 non-null   float64
 12  AG Trans total(g)          1971 non-null   float64
 13  Açúcar total (g)           1971 non-null   float64
 14  Açúcar de adição (g)       1971 non-null   float64
 15  Cálcio (mg)                1971 non-null   float64
 16  Magnésio (mg)              1971 non-null   float64
 17  Manganês (mg)              1971 non-null   float64
 18  Fósforo (mg)               1971 non-null   float64
 19  Ferro (mg)                 1971 non-null   float64
 20  Sódio (mg)                 1971 non-null   float64
 21  Sódio de adição (mg)       1971 non-null   float64
 22  Potássio (mg)              1971 non-null   float64
 23  Cobre (mg)                 1971 non-null   float64
 24  Zinco (mg)                 1971 non-null   float64
 25  Selênio (mcg)              1971 non-null   float64
 26  Retinol (mcg)              1971 non-null   float64
 27  Vitamina A (RAE) (mcg)     1971 non-null   float64
 28  Tiamina (mg)               1971 non-null   float64
 29  Riboflavina (mg)           1971 non-null   float64
 30  Niacina (mg)               1971 non-null   float64
 31  Niacina (NE) (mg)          1971 non-null   float64
 32  Piridoxina (mg)            1971 non-null   float64
 33  Cobalamina (mcg)           1971 non-null   float64
 34  Folato (DFE) (mcg)         1971 non-null   float64
 35  Vitamina D (mcg)           1971 non-null   float64
 36  Vitamina E (mg)            1971 non-null   float64
 37  Vitamina C (mg)            1971 non-null   float64
 38  Grupo Alimentar            1971 non-null   int64
dtypes: float64(37), int64(2)
memory usage: 600.7 KB

## Criando arquivo .csv

In [24]:
df.to_csv('Tabela_Taco_Pre_Processada.csv', index=False)